<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
  <div class="d-inline-block">
    <h2>Editing Visit</h2>
  </div>

  <hr />

  <%= render 'form', visit: @visit %>

  <hr />

  <%= link_to 'Show', @visit , :class => "btn btn-warning btn-sm" %>
  <%= link_to 'Back', visits_path, :class => "btn btn-primary btn-sm" %>

</div>
