<div class="row" style="margin-top: 40px; margin-bottom: 40px; text-align: center; display: flex; align-items: center;">
  <div class="col-md-6">
    <%= image_tag ("logo.jpg") %>
  </div>
  <div class="col-md-6">
    <h1>Welcome to our Medical Clinic!</h1>
  </div>
</div>
